# This workflow will trigger Datadog Synthetic tests within your Datadog organisation
# For more information on running Synthetic tests within your GitHub workflows see: https://docs.datadoghq.com/synthetics/cicd_integrations/github_actions/

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# To get started:

# 1. Add your Datadog API (DD_API_KEY) and Application Key (DD_APP_KEY) as secrets to your GitHub repository. For more information, see: https://docs.datadoghq.com/account_management/api-app-keys/.
# 2. Start using the action within your workflow

name: Run Datadog Synthetic tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Run Synthetic tests within your GitHub workflow.
    # For additional configuration options visit the action within the marketplace: https://github.com/marketplace/actions/datadog-synthetics-ci
    - name: Run Datadog Synthetic tests
      uses: DataDog/synthetics-ci-github-action@87b505388a22005bb8013481e3f73a367b9a53eb # v1.4.0
      with:
        api_key: ${{secrets.DD_API_KEY}}
        app_key: ${{secrets.DD_APP_KEY}}
        test_search_query: 'tag:e2e-tests' #Modify this tag to suit your tagging strategy

 
uses: actions/download-artifact@v6.0.0
 with
 # Имя артефакта для загрузки. Если не указано, загружаются все артефакты для запуска.

 # Идентификаторы артефактов для загрузки, разделенные запятыми. Можно использовать либо входные данные `artifact-ids`, либо `name`, но не оба пара
 # Путь назначения. Поддерживает базовое расширение тильды. По умолчанию используется $GITHUB_WORKSPACE
 path: # необязательно
 # Шаблон подстановки, соответствующий артефактам, которые необходимо загрузить. Игнорируется, если указано имя.
 pattern: # необязательно
 # При совпадении нескольких артефактов это меняет поведение целевых каталогов. Если true, загруженные артефакты будут находиться в том же каталоге, который указан в path. Если false, загруженные артефакты будут извлечены в отдельные каталоги с именами в указанном пути.
 merge-multiple: # необязательно, по умолчанию false
 # Токен GitHub, используемый для аутентификации с помощью GitHub API. Это требуется при загрузке артефактов из другого репозитория или при другом запуске рабочего процесса. Если это не указано, действие попытается загрузить артефакты из текущего репозитория и запустить текущий рабочий процесс.
 github-token: # необязательно
 # Владелец репозитория и имя репозитория соединяются символом "/". Если указан github-token, то это репозиторий, из которого будут загружаться артефакты.
 репозиторий: # необязательно, по умолчанию ${{ github.repository }}
 # Идентификатор выполнения рабочего процесса, в ходе которого был загружен нужный для скачивания артефакт. Если указан github-token, то артефакты будут загружены из этого выполнения.
 идентификатор выполнения: # необязательно, по умолчанию ${{ github.run_id }}
 
